

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar {
    background: #5133a4;
    min-height: 70px;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
    display: block;
}

.header {
    background-color: #2c323c;
    background-image: url(/4de356f…/00972/assets/images/geometry.svg);
    background-repeat: repeat;
    color: #fff;
    min-height: 400px;
    padding: 180px 20px;
    padding-bottom: 140px;
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 26px 0;
    width: 33.3%;
    text-align: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}